{% extends 'base.html.twig' %}

{% block stylesheets %}
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{% endblock %}

{% block page_content %}
	<div class="row content grid-1-5">
		{# 20% width : Menu#}
		{% include "/shared_templates/dashboard_menu.html.twig" %}
		<div class="col">
			{# 80% width : Main content #}
			<div class="row h-100 align-content-start">
				{# 1st ROW : Warehouses List, Selected Warehouse, Search bar #}
				<div class="h-35 text-light">
					<div class="col h-100 p-1">
						<div class="cstm-card h-100">
							<p>New stock transfert</p>
						</div>
					</div>
				</div>
				{# 2nd ROW : Last events #}
				<div class="h-55 p-1">
					<div class="cstm-card h-100">
						<p>Selected Products</p>
					</div>
				{# 2nd ROW : Last events #}
				<div class="row h-20 p-1 mb-0">
					<div class="col-auto cstm-card ms-auto p-1 mt-auto">
						<button class="btn btn-light">Validation</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
