.test-red {
  border: solid 2px red;
}
.test-blue {
  border: solid 2px blue;
}
.test-green {
  border: solid 2px green;
}
.test-orange {
  border: solid 2px orange;
}

/** ************************* **/
/** FONTS                     **/
/** ************************* **/
@font-face {
  font-family: 'NirmalaUI-Bold';
  src: url("../fonts/nirmala-ui-bold.ttf");
}
@font-face {
  font-family: 'NirmalaUI-Semilight';
  src: url("../fonts/nirmala-ui-semilight.ttf");
}
.title{
  font-family: 'NirmalaUI-Semilight';
}
.title-bold, .title:hover{
  font-family: 'NirmalaUI-Bold';
}
.text{
  font-family: "Segoe UI", Arial, sans-serif;
}

/** ************************* **/
/** BASE SIZING & POSITION    **/
/** ************************* **/
html, body{
  height: 100%;
  margin: 0;
}
body{
  overflow: hidden;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box-container {
  display: contents;
}
header{
  height: 10vh;
}
.content{
  flex: 1 1 auto;
  padding: 0.2rem;
}
footer{
  flex: 0 1 auto;
  opacity: 0.9;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  translate: 0 calc(100% - 4.5vh);
  transition: ease-in-out;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  border-top: 2px solid white;

}
body {
  padding-bottom: 30px;
}
footer:hover{
  opacity: 1;
  translate: 0 0;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

/** ************************* **/
/** CUSTOM GRID HEIGHT        **/
/** ************************* **/

.vh-5{
  height: 5vh;
}
.vh-10{
  height: 10vh;
}
.vh-15{
  height: 15vh;
}
.vh-20{
  height: 20vh;
}
.vh-25{
  height: 25vh;
}
.vh-30{
  height: 30vh;
}
.vh-35{
  height: 35vh;
}
.vh-40{
  height: 40vh;
}
.vh-45{
  height: 45vh;
}
.vh-50{
  height: 50vh;
}
.vh-55{
  height: 55vh;
}
.vh-60{
  height: 60vh;
}
.vh-65{
  height: 65vh;
}
.vh-70{
  height: 70vh;
}
.vh-75{
  height: 75vh;
}
.vh-80{
  height: 80vh;
}
.vh-85{
  height: 85vh;
}
.vh-90{
  height: 90vh;
}

.h-test {
  max-height: inherit;
}

.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-75 {
  height: 75%;
}
.h-80 {
  height: 80%;
}
.h-95 {
  height: 95%;
}

/** ************************* **/
/** CUSTOM GRID WIDTH         **/
/** ************************* **/
.w-40 {
  width: 40%;
}

/** ************************* **/
/** COLORS                    **/
/** ************************* **/
.bg-cstm-darkBlue{
  background-color: #0F1E33;
}
.bg-cstm-blue{
  background-color: #254C80;
}
.bg-cstm-lightBlue{
  background-color: #3B7BCD;
}
.bg-cstm-light{
  background-color: whitesmoke;
}

.cstm-darkBlue{
  color: #0F1E33;
}
.cstm-blue{
  color: #254C80;
}
.cstm-lightBlue{
  color: #3B7BCD;
}
.cstm-light{
  color: whitesmoke;
}

th {
  background-color: #254C80 !important;
  border: solid 2px whitesmoke !important;
  color: whitesmoke !important;
}
thead {
  border-bottom: solid 2px whitesmoke !important;
}

.bg-light {
  --bs-bg-opacity: 0;
}
/** ************************* **/
/** HEADER CONTENT            **/
/** ************************* **/
#logo{
  max-height: 75px;
  max-width: 75px;
}
.iconLG{
  max-height: 35px;
  max-width: 35px;
}
/** ************************* **/
/** BREADCRUMB                **/
/** ************************* **/
.breadcrumb-row{
  height: min-content;
}
/** ************************* **/
/** CUSTOM GRID TEMPLATES     **/
/** ************************* **/
.grid-1-5{
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.grid-1-2-2{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-6-4{
  display: grid;
  grid-template-columns: 6fr 4fr;
}

/** ************************* **/
/** CARD                      **/
/** ************************* **/
.cardContainer{
  background-color:#0F1E33;
  margin: 0;
  padding-top: 0;
  padding: 0.2rem;
}

.cstm-card{
  background-color: #254C80;
  color: white;
  border: solid 5px white;
  padding: 0.5rem;
  border-radius: 10px;
}

.col-2sur10{
  width: 20%;
}
.col-4sur10{
  width: 40%;
}

.row{
  --bs-gutter-x: 0;
}

/** ************************* **/
/** DASHBOARD                 **/
/** ************************* **/
.dashboard{
  padding-right: 0;
}


/** ************************* **/
/** LIENS                     **/
/** ************************* **/
a{
  text-decoration: none;
}
a:hover{
  font-weight: bold;
  /* text-decoration: underline; */
}

.linkIcon {
  rotate: 90deg;
  text-align: center;
}

.linkCollapseMenu:has(> .show)>a:first-child {
  rotate: 0deg;
}


/** ************************* **/
/** TESTING BORDER            **/
/** ************************* **/
.testDiv{
  border: solid 2px red;
}


/** ************************* **/
/** FORMS                     **/
/** ************************* **/
.form-custom div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-custom textarea {
  height: 150px;
}
.form-custom div:has(input[type=checkbox]) {
  flex-direction: row;
  justify-content: space-evenly;
}

.form_row_span {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  margin-left: auto;
  margin-right: 0;
}
.form_row_span div {
  display: flex;
  margin-left: auto;
}
/* .form-checkbox-cstm div:has(input[type=checkbox]) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 130px;
} */
.form-checkbox-cstm div input[type=checkbox] {
  margin-inline: 0.3em;
}
.form-custom input[type=checkbox] {
  margin-left: 1em;
}

.thumbnail {
  height: 200px;
  /* max-height: 200px; */
  /* max-width: 200px; */
  
}
.thumbnail-big {
  width: 250px;
  /* max-width: 250px; */
  /* max-height: 250px; */
}
.thumbnail-small {
  height: 75px;
  /* max-height: 75px; */
  /* max-width: 75px; */
}

.logo-big {
  width: 400px;
  /* max-width: 250px; */
  /* max-height: 250px; */
}

.hidden, .hidden div {
  display: none;
}

.text-justify {
  text-align: justify;
}

.text-indent-1em {
  text-indent: 1em;
}
.text-indent-2em {
  text-indent: 2em;
}
.text-indent-3em {
  text-indent: 3em;
}

.card-link:hover {
  box-shadow: 5px 5px 5px rgb(165, 165, 165);
}
.card-shadow {
  box-shadow: 5px 5px 5px lightgray;
}

/** ************************* **/
/** MEDIA QUERIES             **/
/** ************************* **/
@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}