<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Warehouse{% endblock %}</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<!-- BOOTSTRAP CSS-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		{% block stylesheets %}
			<!-- CUSTOM CSS -->
			<link rel="stylesheet" href="{{ asset('styles/style.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}
	</head>
	<body class="box bg-cstm-darkBlue text-light">
		<div class="box-container">
		{% block body %}
			{% block header %}
				{% include "/shared_templates/header.html.twig" %}
			{% endblock %}

			{% if user_authentified %}
				{% block page_content %}{% endblock %}
			{% else %}
				<div class="row content">
					<div class="my-auto text-center">
						<img src={{ asset('img/home_image.jpg') }} id="home_image" alt="home image" class="mx-auto col-3">
						<p class="row mb-auto mx-auto text-light w-40 mt-3">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum expedita asperiores accusantium
							non officia! Consequuntur, maiores. Dolore, saepe deserunt. Deleniti soluta laudantium aliquam
							praesentium magnam vel maxime obcaecati, quo ducimus!
						</p>
					</div>
				</div>
			{% endif %}
			
			
			{% block footer %}
				{% include "/shared_templates/footer.html.twig" %}
			{% endblock %}
		{% endblock %}
		</div>
		<!-- BOOTSTRAP SCRIPT -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</body>
</html>

