
{% if route_name == 'transferts' %}

{% elseif route_name == 'transfert_detail' %}
  <a href={{ path('new_transfert', {'id': warehouse.getId}) }} class="col-2 btn btn-sm btn-light">New Transfert</a>
{% endif %}

<a href="" class="col-2 btn btn-sm btn-light">Transfert</a>
<a href="" class="col-2 btn btn-sm btn-light">Modif stock</a>