<nav id="dashboard" class="col text-light cardContainer">
  <div id="dashboardCard" class="card cstm-card w-100 h-100">
    <a class="title-bold fs-5 text-light mt-2 ms-3" href={{ path("dashboard") }}>Dashboard</a>
    {# My Warehouses #}
    <p class="title-bold text-light mt-2 ms-3">My Warehouses</p>
    <div class="card bg-cstm-blue border-3 ms-3">
      <a class="title text-light mt-2 ms-3" href="">Warehouse 1</a>
      <a class="title text-light mt-2 ms-3" href="">Warehouse 2</a>
      <a class="title text-light mt-2 ms-3" href="">Warehouse 3</a>
    </div>
    
    {# Items #}
    <a class="title-bold text-light mt-2 ms-3" href="">Items</a>
    <div class="card bg-cstm-blue border-3 ms-3">
      <p></p>
    </div>
    {# Transactions #}
    <a class="title-bold text-light mt-2 ms-3" href="">Transactions</a>
    <div class="card bg-cstm-blue border-3 ms-3">
      <a class="title-bold text-light mt-2 ms-3" href="">Receptions</a>
      <div class="card bg-cstm-blue border-3 ms-3">
        <p></p>
      </div>
      {# Transferts #}
      <a class="title-bold text-light mt-2 ms-3" href="">Transferts</a>
      {# New transfert #}
      <div class="card bg-cstm-blue border-3 ms-3">
        <a class="title text-light mt-2 ms-3 ps-1" href="">New transfert</a>
      </div>
      {# Stock modifications #}
      <a class="title-bold text-light mt-2 ms-3" href="">Stock modifications</a>
      <div class="card bg-cstm-blue border-3 ms-3">
        <p></p>
      </div>
    </div>
    {# Inventories #}
    <a class="title-bold text-light mt-2 ms-3" href="">Inventrories</a>
    <div class="card bg-cstm-blue border-3 ms-3">
      {# New inventory #}
      <a class="title text-light mt-2 ms-3 ps-1" href="">New inventory</a>
    </div>
    {# Reports #}
    <a class="title-bold text-light mt-2 ms-3" href="">Reports</a>
    <div class="card bg-cstm-blue border-3 ms-3">
      <p></p>
    </div>
  </div>
</nav>
