{{ form_start(select_warehouse_form) }}
  <div class="form-row-span-2">
    {{ form_row(select_warehouse_form.warehouse, {'label': false, 'attr': {'class':'w-100'}}) }}
    {{ form_row(select_warehouse_form.submit, {'label': 'Select Warehouse'}) }}
  </div>
{{ form_end(select_warehouse_form) }}



