{% extends 'base.html.twig' %}

{% block stylesheets %}
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{% endblock %}

{% block page_content %}
	<div class="row content grid-1-5">
		{# 20% width : Menu#}
		{% include "/shared_templates/dashboard_menu.html.twig" %}
		<div class="col">
			{# 80% width : Main content #}
				{# 1st ROW : Warehouses List, Selected Warehouse, Search bar #}
				<div class="row h-15 text-light grid-1-2-2">
					<div class="col h-100 p-1">
						<div class="cstm-card h-100">
							<div class="h-100">
								<p class="bg-cstm-blue pb-2 mb-0">Selected</p>
								<p class="text-center my-0 fs-4">{{ warehouse.getWarehouseName }}</p>
							</div>
						</div>
					</div>
					<div class="col h-100 p-1">
						<div class="cstm-card h-100">
							<p>Actions</p>
							<div class="row my-0 fs-4 justify-content-evenly">
								<a href={{ path('receptions', {'id': warehouse.getId}) }} class="col-2 btn btn-sm btn-light">Réception</a>
								<a href="" class="col-2 btn btn-sm btn-light">Transfert</a>
								<a href="" class="col-2 btn btn-sm btn-light">Modif stock</a>
							</div>
						</div>
					</div>
					<div class="col h-100 p-1">
						<div class="cstm-card h-100">
							<p>Filter list</p>
						</div>
					</div>
				</div>
				{# 2nd ROW : Last events #}
				<div class="h-85 p-1">
					<div class="cstm-card h-100">
						<p>Products</p>
					</div>
				</div>
		</div>
	</div>
{% endblock %}
